@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;900&display=swap');

:root {
  --primary-text-color: #1A202C;
  --primary-background: #F0E7DB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-background);
  font-family: -apple-system, sans-serif;
  /* 1,5 * 16px = 24px */ 
  line-height: 1.5;
}

.container {
  padding: 16px 32px;
  width: 100%;
}

.text-decoration {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 2rem;
  margin: 12px 0px 14px;
  /* 1.2 * 16px = 19,2 */
  line-height: 1.2; 
  font-weight: bold;
  /* background-color: orange; */
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-color: #525252;
  text-decoration-thickness: 4px;
}

.paragraph {
  font-size: 1rem;
  text-align: justify;
  font-weight: lighter;
  text-indent: 1em;
}

.font-weight {
  margin: 12px 0px 16px;
}

span {
  display: block;
  font-weight: 900;
}

.weight-100 {
  font-weight: 100;
}

.weight-200 {
  font-weight: 200;
}

.weight-300 {
  font-weight: 400;
}

.weight-400 {
  font-weight: 400;
}

.weight-500 {
  font-weight: 500;
}

.weight-900 {
  font-weight: 900;
}

